#name{
    color: rgb(92, 19, 151);
    font-family: "arial";
    font-size: 40px;
}
#course{
    color: black;
    font-family: "arial";
    font-size: 20px;
}
#email{
    color: black;
    font-family: "arial";
    font-size: 20px;
}
.paperlink {
    color:  rgb(92, 19, 151);
    font-family: "areal";
    font-size: 15px;
}
.paperlink:hover {
    color:  red;
}
div.box {
    width: 1000px;
    margin-bottom: 20px;
    border: 1px solid grey;
    padding: 10px 30px;
    background-color: white;
}
