* {
    font-family: "arial";
    color: rgb(71, 71, 71);
}
div.info_1, .info_2 {
    width: 1000px;
    margin-bottom: 10px;
    border: 1px solid;
    padding: 10px 30px;
    background-color: white;
}
#name {
    font-weight: bold;
    color: rgb(92, 19, 151);
    font-size: 40px;
    padding: 10px;
}
#Beauty {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
}
#img_orcid_qr {
    width: 130px;
    height: 130px;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
}
#img_logo {
    width: 140px;
    height: 140px;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
}
#course, #orcid, #email, #interest {
    font-weight: bold;
    color: black;
    font-size: 20px;
    padding: 10px 10px;
}
div.box {
    width: 1000px;
    margin-bottom: 20px;
    border: 1px solid grey;
    padding: 10px 30px;
    background-color: white;
}
.box_title {
    width: 1000px;
    background-color: rgb(44, 44, 44);
    padding: 10px 30px;
    border: 1px solid;
    margin-bottom: 10px;
    color: white;
    font-size: 20px;    
}
.paper div {
    margin-bottom: 5px;
}
.div_papertitle{
    font-size: 20px;
}
.div_paperyear{
    font-size: 13px;
}
.div_paperjournal{
    font-size: 15px;
}
.div_papernames{
    font-size: 20px;
}
.div_paperDOI{
    font-size: 15px;
}
.a_linkpaperDOI, .paperlink, .linkorcid{
    color: rgb(92, 19, 151);
}
.a_linkpaperDOI:hover, .paperlink:hover, .linkorcid:hover {
    color:  red;
}