* {
    font-family: "arial";
    color: rgb(71, 71, 71);
}
#name{
    color: rgb(92, 19, 151);
    font-size: 40px;
}
#course{
    color: black;
    font-size: 20px;
}
#email{
    color: black;
    font-size: 20px;
}
#interest{
    color: black;
    font-size: 20px;
}
.paperlink {
    color:  rgb(92, 19, 151);
    font-size: 15px;
}
.paperlink:hover {
    color:  red;
}
div.box {
    width: 1000px;
    margin-bottom: 20px;
    border: 1px solid grey;
    padding: 10px 30px;
    background-color: white;
}
.paper div {
    margin-bottom: 5px;
}
.div_papertitle{
    font-size: 20px;
}
.div_paperyear{
    font-size: 13px;
}
.div_paperjournal{
    font-size: 15px;
}
.div_papernames{
    font-size: 20px;
}
.div_paperDOI{
    font-size: 15px;
}
.a_linkpaperDOI{
    color: rgb(92, 19, 151);
}
.a_linkpaperDOI:hover {
    color:  red;
}
