* {
    font-family: "arial";
    color: rgb(71, 71, 71);
    margin: 0 auto;
}
#name {
    text-align: center;
    font-weight: bold;
    color: rgb(92, 19, 151);
    font-size: 2rem;
    padding: 1rem;    
    margin: 0 auto;
    white-space: nowrap;
}

table.table {
    font-size: 1.1rem;
    text-align: center;
    padding: 1rem;
    border-collapse: collapse;
}

th.inner {
    background-color:rgb(172, 160, 182);
    padding: 0.5rem;
    border: 1px solid;
}

td.contents {
    padding: 0.5rem;
    border: 1px solid;
}

th.update {
    font-size: 1rem;
    text-align: right;
}

a.a_Footer {
    text-decoration: none;
}

div.Footer {
    margin: 0 1rem;
    font-size: 1rem;
    white-space: nowrap;
}

.a_Footer {
    color: rgb(92, 19, 151);
}
.a_Footer:hover {
    color:  red;
}
